<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ma.ofppt.tdi201.quizly">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Congrates"></activity>
        <activity android:name=".GameOverTempActivity" />
        <activity android:name=".sinscrire" />
        <activity android:name=".ScoreDetail" />
        <activity android:name=".MainActivity" />
        <activity android:name=".GameOver" />
        <activity android:name=".Playing" />
        <activity android:name=".Start" />
        <activity android:name=".Home" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>